.coachCard {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    padding: 1em;
    border-bottom: solid 1px black;

    .coachName {

       width:8em;
       margin-bottom: 0;
    }

    .distanceAndExperience {
       width: 12em;
    }

    input {
        min-width: 5em;
        max-width: 5em; 
    }
}