@import '__defines';

label {
    padding-top: 2em;
}

.btn {
    margin-top: 1em;
}

.pageContent {
    padding-bottom: 2em;
}

.pageHeading {
    padding-top: 1em;
    text-align: center;
    padding-bottom: 0.5em
}