.locationField{
    padding-right: 1em;

    button{
        background-image: url("../images/location.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 2.4em;
        height: 2.4em;
        padding: 1em;
    }   
} 