.newSlotModal {
    position: absolute;
    top: 3em;
    border: solid 1px black;
    box-shadow: 2px 2px black;
    width: 68%;
    height: 80%;
    margin: auto;
    background: white;
    padding: 2em;
}